notebook/dataframes/dataframe_teste_thiago
notebook/dataframes/dataframe_treino_thiago

searchs

notebook/modelos/modelo_1
notebook/modelos/modelo_2
notebook/modelos/modelo_3
notebook/modelos/modelo_4
notebook/modelos/modelo_5
notebook/modelos/lista_modelos

datasets